body {
    margin: 0;
    pading: 0;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
}


input {
    padding: 10px;
    width: 60%;

    border-radius: 10px;
    border: 2px solid #e6e6e6;
    margin: 10px 20px;
}
h1{
    font-weight: 700;
    padding-top: 20px;
}


#container {
    width: 400px;

    position: relative;
    text-align: center;
    margin: auto;
    border: 4px solid #e6e6e6;
    align-items: center;


}
.containr_1{
    margin: 20px 30px;
}
.label_input3 .sign{
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}
.containr_1 .icon{
    margin-top: 20px;
    margin-bottom: 20px;

}
.containr_1 .icon ion-ion{
font-size: 20px;
}
a{
    margin-top: 50px;
    text-decoration: none;
}











